:root {
  --main-color: #dd2f6e;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


body {
  background-color: #f5f5f9;
}

.sidebar {
  width: 330px;
  position: fixed;
  height: 100vh;
  background-color: var(--main-color);

  left: 0;
  top: 0;
  z-index: 100;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;

  color: #fff;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.3rem;

  padding-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  
}

.sidebar-menu a.active {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0 0 30px;
}

.sidebar-menu a:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.main-content {
  margin-left: 330px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  align-items: center;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

  position: fixed;
  left: (345px);
  width: calc(100% - 330px);
  top: 0;
  z-index: 100;
}

.main-content header h2 {
  color: #222;
}

.main-content header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}


.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: 0;
  outline: none;
  background: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}
.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}


.user-wrapper small {
  display: inline-block;
  color: var(--text-grey);
}

main {
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f5f5f9;
  min-height: calc(100vh - 89px);

}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
}

.card-single div:last-child span {
  color: var(--main-color);
  font-size: 3rem;
}

.card-single div:first-child span {
  color: var(--text-grey);
}

.card-single:last-child {
  background-color: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:last-child span,
.card-single:last-child div:first-child span {
  color: #fff;
}
